@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
}
/* video-background */
.header {
    width: 100%;
    display: flex;
}
.header__block {
    width: 7%; 
}
.header__block-scroll {
    width: 7%;
    height: 100%;
    background-color: #111922;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
}
.header__block-logo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.header__block-logo img {
    padding-top: 50%;
}
.header__block-menu {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.header__block-menu span {
    color: white;
    font-size: 60px;
    transition: 0.3s;
    cursor: pointer;
}
.header__block-menu span:hover {
    color: #FF8D00;
    transition: 0.3s;
}
.headr__block-mp4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.headr__block-video {
    position: absolute;
    top: 0;
    left: 8px;
    width: 99.5%;
    overflow: hidden;
}
.myvideo {
    width: 100%;
    height: 100%;
    overflow: hidden;              
}
.header__block-text {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    z-index: 10;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-transform: uppercase;
    color: white;
}
.header__text {
    display: flex;
    flex-direction: column;
}
.header__text p {
    margin: 0;
}
.header__block-input {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
    z-index: 1;
}
.search__input {
    width: 30%;
    height: 20.5%;
    background: #FBFAFA;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #A7A7A7;
    outline: none;
    border: none;
    padding: 0;
    padding-left: 20px;
}
.header__search-button {
    height: 20.5%;
    padding: 0 2% 0 2%;
    background: #FF8D00;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    
}
.header__search-button:hover {
    background: #b96600;
    transition: 0.3s;
} 
/* поиск люди/работа */
.fixed {
    width: 7.5%;
}
.block__choice-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.block__choice {
    margin-top: 1.75%;
    width: 100%;
    display: flex;
}
.block__choice-job {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block__choice-job:hover img,
.block__choice-job:hover .block__text-job h1{
    opacity: 1;
    transition: 0.4s;
    color: white;
}
.block__choice-job img {
    opacity: 0.15;
    transition: 0.4s;
    /* -webkit-filter: grayscale(1);
    filter: grayscale(1); */
}
.block__text-job {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.block__choice-job span {
    font-size: 100px;
    color: #FF8D00;
}
.block__choice-job p {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FF8D00;
    text-transform: uppercase;
}
.block__choice-job h1 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #111922;
    text-transform: uppercase;
}

.block__choice-inside {
    border: 1px solid #000;
    width: 78%;
    height: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.block__choice-inside p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}
.block__choice-description {
    padding: 3.45% 2% 6% 2%;
    background: #2E3F53;
    display: flex;
    margin-right: 7px;
    margin-left: 7px;
    justify-content: center;
    align-items: center;

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    flex-direction: column;
}
/* vakansii */
.job {
    display: flex;
    margin-top: 15%;
}
.job__block {
display: flex;
flex-direction: column;
}
.job__header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.job__header-text p {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #FF8D00; 
    text-transform: uppercase;
}
.job__header-text h1 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #111922; 
    text-transform: uppercase;
}
/* card vakancy */
.job__vacancys {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .3s;
}

.job__vacancys-outside {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    height: 100%;
    transition: .3s;
}
.job__vacancys-inside {
    width: 90%;
    height: 90%;;
}
.block__vacancy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.block__vacancy-header {
    width: 100%;
    display: flex;
    justify-content:space-between;
}
.block__vacancy-header p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #919295;
}
.block__save {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5% 5%;
    background: #C4C4C4;
    cursor: pointer;
    transition: .3s;
}
.block__save:hover {
    background: #111922;
    transition: .3s;
}
.block__save p {
    font-family: Roboto;
    font-weight:400;
    font-size: 14px;
    color: #ffffff;
}
.block__vakancy-center {
    margin-top: 8%;
}
.block__vakancy-center h2 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 30px;
    transition: .3s;
    cursor: pointer;
}
.block__vakancy-center h2:hover {
    color: #FF8D00;
    transition: .3s;
}
.block__vakancy-center h4 {
    padding-top: 8%;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.location {
    padding-top: 6%;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #919295;
}
.block__vakancy-center p:nth-child(4) {
    padding-top: 3%;
}
.block__vakancy-center h5 {
    padding-top: 10%;
    display: flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.block__vakancy-button {
    margin-top: 10%;
    margin-bottom: 14%;
    padding: 5% 25%;
    background: #FF8D00;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}
.block__vakancy-button:hover {
    background: #c36b00;
    transition: .2s;
}
.block__vakancy-button p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
/* underline */
.block__underline {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
.underlune {
    width: 15%;
    border: 1px solid #000;
    border-radius: 5px;
}
/* center_image */
.center__image {
    display: flex;
    justify-content: center;
}
/* WORKUP_block */
.center__block {
    display: flex;
    justify-content: center;
    background: #1D252D;
}
.center__block h1 {
    text-transform: uppercase;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 350px;
    color: #111922;
}

/* recom */
.fixed1 {
    width: 17.8%;
}
.review {
    padding-left: 10%;
    display: flex;
}
.reviews {
    padding-top: 10%;
}
.review__block:nth-child(1) h1 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 100px;
    color: #E7E8E8;
    text-transform: uppercase;
}
.review__block:nth-child(2) {
    display: flex;
    justify-content: space-between;
}
.review__block:nth-child(2) p {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FF8D00;
    text-transform: uppercase;
}
.review__switch {
    color: #1D252D;
    padding-right: 20%;
    font-size: 30px;
}
.fa-arrow-left {
    padding: 12% 70px 70% 0;
}
.review__text {
    display: flex;
    justify-content: center;
}
.review__block-text {
    width: 60%;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 36px;
    color: #919295;
}
/* articles */

.article {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #E7E8E8;
    height: 1000px;
}
.article-fon {
    padding-top: 5%;
    width: 100%;
}
.articles__main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 5%;
}
.article__block {
    width: 16.7%;
    height: 410px;
    background: rgb(255, 255, 255);
}
.article__block h4 {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #FF8D00;
    padding-left: 10%;
    padding-top: 5%;
    transition: 0.3s;
    cursor: pointer;
}
.article__block h4:hover {
    transition: 0.4s;
    transform: scale(1.05);
}
.article__block p {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
.article__block span:nth-child(1) {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #B6BABD;
}
.article__block span:nth-child(2) {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    transition: 0.3s;
    padding: 1% 3% 1% 3%;
}
.article__block span:nth-child(2):hover {
    transition: 0.3s;
    background: #111922;
    color: white;
}
.article__block-text {
    display: flex;
    justify-content: space-around;
}
.article__main-inform {
    height: 90%;
    /* width: 320px; */

}
.article__main-inform img {
    width: 100%;
}
/* help */

.help {
    display: flex;
    gap: 5px;
    background: #E7E8E8;
}
.help__block-mini {
background: #1D252D;
width: 30%;
}
.help-logo {
    padding-top: 3%;
    padding-left: 7%;
}
.help__block-mini h3 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FF8D00;
    text-align: center;
    text-transform: uppercase;
}
.help__block-mini h1{
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}
.help__block-mini p {
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 26px;
    color: #FFFFFF;
}
.help__images {
    text-align: center;
    padding-bottom: 10%;
}
.help-spons {
    padding-top: 15%;
} 
.help-spons:nth-child(1) {
    padding-right: 5%;
}
.help-spons:nth-child(3) {
    padding-right: 5%;
}
.help__block-main {
    background: #FF8D00;
    width: 40%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}
.help__block-main h1 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}
.help__block-main h2 {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
}
.help__contact {
    padding: 10% 5% 0 5%;
    display: flex;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}
.help__contact p:nth-child(2) {
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
}
/* footer */
.footer {
    padding-top: 0.2%;
    display: flex;
}
.footer__block-location {
    width: 60%;
    background: #1D252D;
    padding-bottom: 1.5%;
}
.footer__block {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer__adres {
    padding-top: 7%;
}
.footer__adres:nth-child(1) {
    padding-right: 20%;
}
.footer__adres h1 {
    padding-bottom: 4%;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.footer-geoloc {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #919295;
}
.phone {
    padding-top: 20%;
}
.servises {
    display: flex;
    padding-top: 12%;
    justify-content: center;
}
.servises p {
    cursor: pointer;
}
.servises p:nth-child(1) {
    padding-right: 5%;
}
.servises p:nth-child(2) {
    padding-right: 5%;
}
.footer__block-social {
    width: 40%;
    background: #111922;
}
.footer__block-social h1 {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    padding-top: 19%;
    padding-left: 12%;
}
.footer__block-social span {
    color: #FFB525;
}
.footer__social {
    display: flex;
    justify-content: center;
    padding-top: 12%;
}
svg {
    padding-right: 10%;
}

/* .footer__block-social:hover,
svg:nth-child(1):hover {
    background-color: rgb(71, 227, 255);
} */
/* .footer__block-social:hover {
    background: #111922;
} */

[class*="footer__block-social"]:hover {
    background: rgb(71, 227, 255);
}

svg:nth-child(4){
    padding-right: 0;
}
